@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

$myBgColorTitle: #5fa0eb;

main {
	/* border: 1px solid black; */
	margin-top: 4em;
	margin-bottom: 2em;
}

.text-right {
	text-align: right;
}

#title {
	margin-top: 5em;
	margin-bottom: 2em;
	background-color: $myBgColorTitle;
}

.savecancel {
	background-color: $myBgColorTitle;
}

// footer {

// }


/*
#4288e4
#5fa0eb
#7bb9f2
#98d1f8
#b4e9ff
*/
