<div class="row">
	<div class="card rounded shadow-sm">
		<form [formGroup]="form">

			<div class="p-3">
				<div class="form-row">
					<div class="form-group col-md-4 py-3">
						<label for="licensePlate">License Plate:</label>
						<input readonly type="text" class="form-control" id="licensePlate" name="licensePlate" formControlName="licensePlate" />
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4 py-3">
						<label class="control-label" for="vehicle">Vehicle:</label>
						<input readonly type="text" class="form-control" id="vehicleTypeId" *ngIf="controlInOut && controlInOut.vehicleType" [value]="this.controlInOut.vehicleType.id +' - '+ this.controlInOut.vehicleType.description" />
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4 py-3">
						<label class="control-label" for="accordTypeId">Accord:</label>
						<select class="form-control" id="accordTypeId" name="accordTypeId" formControlName="accordTypeId" value="{{this.controlInOut.accordTypeId}}" (change)="getChangeAccordTypeValue(angularFocus.value)" #angularFocus autofocus>
							<option *ngFor="let accordType of accordTypesList" value="{{accordType.id}}">{{accordType.description}}</option>
						</select>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4 py-3">
						<label for="dateTimeIn">Date Time In:</label>
						<input readonly type="text" class="form-control" id="dateTimeIn" name="dateTimeIn" formControlName="dateTimeIn" value="{{ controlInOut.dateTimeIn | DateTimeFormat }}" />
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4 py-3">
						<label for="dateTimeOut">Date Time Out:</label>
						<input readonly type="text" class="form-control" id="dateTimeOut" name="dateTimeOut" formControlName="dateTimeOut" value="{{ controlInOut.dateTimeOut | DateTimeFormat }}" />
					</div>
				</div>

			</div>

			<div class="card-footer savecancel rounded shadow-sm">
				<div class="d-flex">
					<button class="btn btn-light mx-3" onclick="javascript:history.back()">Back</button>
					<button class="btn btn-success mx-3" [disabled]="!form.valid" (click)="openModalView($event, templateView)">CheckOut</button>
				</div>
			</div>

		</form>
	</div>
</div>

<!-- Modal -->
<ng-template #templateView>
	<div class="modal-header">
		<h4 class="modal-title">CheckOut</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="cancelCheckOut()"></button>
	</div>
	<div class="modal-body">
		<p>License Plate: {{controlInOut.licensePlate}}</p>
		<p>VehicleType: {{this.controlInOut.vehicleType.id}} - {{this.controlInOut.vehicleType.description}}</p>
		<p>Date In: {{controlInOut.dateTimeIn | DateTimeFormat}}</p>
		<p>Date Out: {{controlInOut.dateTimeOut | DateTimeFormat}}</p>
		<p>Price: {{controlInOut.price}}</p>
		<p>AccordType: {{getAccordTypeDescription()}}</p>
	</div>
	<div class="modal-footer">
		<!-- <button type="button" class="btn btn-success" (click)="confirmCheckOut()">Confirm</button> -->
		<button type="button" class="btn btn-success" (click)="formatDate()">Confirm</button>
		<button type="button" class="btn btn-light" (click)="cancelCheckOut()">Cancel</button>
	</div>
</ng-template>

<!-- <hr />
<p>Form value: {{ form.value | json }}</p>
<p>Form Status: {{ form.status | json }}</p>
<p>Obj value:</p>
{{ controlInOut | json }} -->

