<!-- <p>Form value: {{ form.value | json }}</p>
<p>Form value: {{ form.status | json }}</p> -->
<div class="row">
	<div class="card rounded shadow-sm">
		<form [formGroup]="form">

			<div class="p-3">
				<div class="form-row">

					<div class="form-group col-md-4 py-3">
						<label>Id</label>
						<input readonly type="text" class="form-control" formControlName="id" >
					</div>

					<div class="form-group col-md-4 py-3">
						<label>Date Created</label>
						<input readonly type="text" class="form-control" formControlName="dateCreated" [value]="form.get('dateCreated').value | DateTimeFormat">
					</div>

					<div class="form-group col-md-4 py-3">
						<label>Description</label>
						<input type="text" class="form-control" formControlName="description" placeholder="Insert description" [ngClass]="cssValidator(f.description)" #angularFocus autofocus>
						<div class="invalid-feedback" *ngIf="f.description.errors?.required">Description is required!</div>
						<div class="invalid-feedback" *ngIf="f.description.errors?.minlength">Description must be at least 4 characters</div>
						<div class="invalid-feedback" *ngIf="f.description.errors?.maxlength">Description must be a maximum of 100 characters</div>
					</div>
				
					<div class="form-group col-md-4 py-3">
						<label class="control-label">Discount Type: </label>
						<select class="form-control" id="discountTypeId" formControlName="discountTypeId">
							<option *ngFor="let discountType of discountTypeEnum" value="{{discountType.id}}">{{discountType.description}}</option>
						</select>
					</div>

					<div class="form-group col-md-4 py-3">
						<label>Percentage</label>
						<input type="text" class="form-control" formControlName="percentage" placeholder="Insert Percentage" [ngClass]="cssValidator(f.percentage)"
							min="0" max="100" 
							currencyMask [options]="{ suffix: ' %', prefix: '', min: 0, max: 100 }"
						/>
						<div class="invalid-feedback" *ngIf="f.percentage.errors?.required">Percentage is required!</div>
						<div class="invalid-feedback" *ngIf="f.percentage.errors?.minlength">Percentage must have the minimum value of 0.01</div>
						<div class="invalid-feedback" *ngIf="f.percentage.errors?.maxlength">Percentage must have the maximum value of 9999999999999</div>
					</div>
				
					<div class="form-group col-md-4 py-3">
						<label><input type="checkbox" formControlName="active"> Active</label>
					</div>

				</div>
			</div>

			<div class="card-footer savecancel rounded shadow-sm">
				<div class="d-flex">
					<button class="btn btn-light mx-3" (click)="resetForm()">Cancel</button>
					<button class="btn btn-success mx-3" [disabled]="!form.valid" (click)="updateAccordType()">Save</button>
				</div>
			</div>

		</form>
	</div>
</div>
