<div class="row">
	<!-- <div [ngClass]="{ 'col-md-8 pr-0': modoEditar, 'col-md-12': !modoEditar }"> -->
		<div class="card rounded shadow-sm">
			<form [formGroup]="form">
				<p>Form value: {{form.value | json}}</p>
				<p>Form value: {{form.status | json}}</p>
				<div class="p-3">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label>Description</label>
							<input type="text" class="form-control"
								[ngClass]="cssValidator(f.description)"
								formControlName="description"
								placeholder="Insert description" />
							<div class="invalid-feedback" *ngIf="f.description.errors?.required">Description is required!</div>
							<div class="invalid-feedback" *ngIf="f.description.errors?.minlength">Description must be at least 4 characters</div>
							<div class="invalid-feedback" *ngIf="f.description.errors?.maxlength">Description must be a maximum of 100 characters</div>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-4">
							<label>Cost</label>
							<input type="text" class="form-control"
								currencyMask
								[options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
								[ngClass]="cssValidator(f.cost)"
								formControlName="cost"
								placeholder="Insert cost" />
								<div class="invalid-feedback" *ngIf="f.description.errors?.required">Cost is required!</div>
								<div class="invalid-feedback" *ngIf="f.description.errors?.minlength">Cost must have the minimum value of 0.01</div>
								<div class="invalid-feedback" *ngIf="f.description.errors?.maxlength">Cost must have the maximum value of 9999999999999</div>
						</div>

						<div class="form-group col-md-4">
							<label><input type="checkbox" formControlName="active" /> Active</label>
							<!-- <input type="checkbox" class="form-control is-invalid" formControlName="active" /> -->
						</div>
					</div>
				</div>

				<div class="card-footer">
					<div class="d-flex">
						<button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">Cancelar Alteração</button>
						<button class="btn btn-success" [disabled]="!form.valid" (click)="saveVehicleType()">
							<!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
							Salvar Evento
						</button>
					</div>
				</div>

			</form>
		</div>

</div>
