<table class="table table-striped table-hover">
	<thead class="table-dark">
		<tr>
			<th class="d-none d-md-table-cell">#</th>
			<th>Description</th>
			<th>Cost</th>
			<th class="d-none d-md-table-cell">Active?</th>
			<th class="d-none d-md-table-cell">Date Created</th>
			<th class="text-right">Actions</th>
		</tr>
	</thead>
	<tbody *ngIf="vehicleTypes && vehicleTypes.length">
		<tr *ngFor="let vehicleType of vehicleTypes">
			<td class="d-none d-md-table-cell">{{ vehicleType.id }}</td>
			<td>{{ vehicleType.description }}</td>
			<td>{{ vehicleType.cost | currency: "BRL" }}</td>
			<td class="d-none d-md-table-cell">
				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="vehicleType.active" disabled />
			</td>
			<td class="d-none d-md-table-cell">{{ vehicleType.dateCreated | DateTimeFormat }}</td>
			<td class="text-right">
				<button type="button" class="btn btn-sm mx-1 btn-info" title="View" (click)="openModalView(templateView, vehicleType.id)"><i class="bi bi-search"></i></button>
				<button type="button" class="btn btn-sm mx-1 btn-warning" title="Edit" (click)="openEdit(vehicleType.id)"><i class="bi bi-pencil-square"></i></button>
				<button type="button" class="btn btn-sm mx-1 btn-danger" tooltip="Delete" (click)="openModal(template, vehicleType.id)"><i class="bi bi-trash"></i></button>
			</td>
		</tr>
	</tbody>
	<tfoot *ngIf="!vehicleTypes.length">
		<tr>
			<td colspan="8" class="text-center">
				<h4>No record found!</h4>
			</td>
		</tr>
	</tfoot>
</table>

<!-- {{vehicleTypes | json}} -->

<!-- Modal -->

<ng-template #template>
	<div class="modal-body text-center">
		<p>Are you sure you want to delete Vehicle {{this.vehicleTypeId}}?</p>
		<button type="button" class="btn btn-default" (click)="confirmDeleteVehicleType()" >Yes</button>
		<button type="button" class="btn btn-primary" (click)="declineDeleteVehicleType()" >No</button>
	</div>
</ng-template>

<ng-template #templateView>
	<div class="modal-header">
		<h4 class="modal-title">Details</h4>
		<!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
		<button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()"></button>
	</div>
	<div class="modal-body">
		<p>Id: {{vehicleType.id}}</p>
		<p>Date Created: {{vehicleType.dateCreated | DateTimeFormat}}</p>
		<p>Description: {{vehicleType.description}}</p>
		<p>Cost: {{vehicleType.cost | currency: "BRL" }}</p>
		<p>Active? {{vehicleType.active ? 'activated' : 'disabled'}}</p>
	</div>
	<div class="modal-footer">
		<!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> -->
		<button type="button" class="btn btn-light" (click)="modalRef.hide()">Close</button>
	</div>
</ng-template>
