<table class="table table-striped table-hover">
	<thead class="table-dark">
		<tr>
			<th class="d-none d-md-table-cell">#</th>
			<th>Vehicle Type</th>
			<th>Accord Type</th>
			<th>License Plate</th>
			<th class="d-none d-md-table-cell">DateTime In</th>
			<th class="d-none d-md-table-cell">DateTime Out</th>
			<th class="text-right">Actions</th>
		</tr>
	</thead>
	<tbody *ngIf="controlInOutList && controlInOutList.length">
		<tr *ngFor="let controlInOut of controlInOutList">
			<td class="d-none d-md-table-cell">{{controlInOut.id}}</td>
			<td>{{controlInOut.vehicleTypeId}} - {{controlInOut.vehicleTypeName}}</td>
			<td>{{getDiscountTypesNameById(controlInOut.accordTypeId)}}</td>
			<td>{{controlInOut.licensePlate}}</td>
			<td class="d-none d-md-table-cell">{{controlInOut.dateTimeIn | DateTimeFormat}}</td>
			<td class="d-none d-md-table-cell">{{controlInOut.dateTimeOut | DateTimeFormat}}</td>
			<td class="text-right">
				<button type="button" class="btn btn-sm mx-1 btn-info" title="View" (click)="openModalView(templateView, controlInOut.id)"><i class="bi bi-search"></i></button>
				<button type="button" class="btn btn-sm mx-1 btn-warning" title="Edit" (click)="openEdit(controlInOut.id)"><i class="bi bi-pencil-square"></i></button>
			</td>
		</tr>
	</tbody>
	<tfoot *ngIf="!controlInOutList.length">
		<tr>
			<td colspan="8" class="text-center">
				<h4>No record found!</h4>
			</td>
		</tr>
	</tfoot>
</table>

<!-- {{controlInOutList | json}} -->

<!-- Modal -->
<ng-template #templateView>
	<div class="modal-header">
		<h4 class="modal-title">Details</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()"></button>
	</div>
	<div class="modal-body">
		<p>Id: {{controlInOut.id}}</p>
		<p>VehicleType: {{controlInOut.vehicleTypeId}} - {{controlInOut.vehicleTypeName}}</p>
		<p>AccordType: {{getDiscountTypesNameById(controlInOut.accordTypeId)}}</p>
		<p>License Plate: {{controlInOut.licensePlate}}</p>
		<p>Date In: {{controlInOut.dateTimeIn | DateTimeFormat}}</p>
		<p>Date Out: {{controlInOut.dateTimeOut | DateTimeFormat}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modalRef.hide()">Close</button>
	</div>
</ng-template>
