

<button type="button" class="btn btn-success" routerLink="/vehicletypes/new" >Add New</button>

<br /><br />

<table class="table table-striped table-hover">
	<thead class="table-dark">
		<tr>
			<th class="d-none d-md-table-cell">#</th>
			<th>Description</th>
			<th>Cost</th>
			<th class="d-none d-md-table-cell">Active?</th>
			<th class="d-none d-md-table-cell">Date Created</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody *ngIf="vehicleTypes && vehicleTypes.length">
		<tr *ngFor="let vehicleType of vehicleTypes">
			<td class="d-none d-md-table-cell">{{ vehicleType.id }}</td>
			<td>{{ vehicleType.description }}</td>
			<td>{{ vehicleType.cost }}</td>
			<td class="d-none d-md-table-cell">
				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="vehicleType.active" />
			</td>
			<td class="d-none d-md-table-cell">{{ vehicleType.dateCreated | DateTimeFormat }}</td>
			<td>
				<button type="button" class="btn btn-info btn-sm mx-1" title="View"><i class="bi bi-search"></i></button>
				<button type="button" class="btn btn-warning btn-sm mx-1" title="Edit"><i class="bi bi-pencil-square"></i></button>
				<button type="button" class="btn btn-danger btn-sm mx-1" title="Delete" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash"></i></button>
			</td>
		</tr>
	</tbody>
	<tfoot *ngIf="!vehicleTypes.length">
		<tr>
			<td colspan="8" class="text-center">
				<h4>No record found!</h4>
			</td>
		</tr>
	</tfoot>
</table>

<!-- {{vehicleTypes | json}} -->

<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
	Launch demo modal
</button> -->


<!-- Modal -->
<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Tem certeza que quer deletar este Evento?</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">...</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
				<button type="button" class="btn btn-primary">Yes</button>
			</div>
		</div>
	</div>
</div>
